<div>
    <div class="header">
        <h2>Lista de Editoras</h2>
        <button (click)="new()" type="button" class="btn btn-primary" data-mdb-ripple-init>
            Novo
        </button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
            </tr>
        </thead>
        <tbody>
            @for (item of lista; track $index) {
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.titulo}}</td>
                <td>
                    <button (click)="edit(item)" type="button" class="btn btn-primary"
                        data-mdb-ripple-init>
                        Editar
                    </button>
                    <button (click)="apagar(item)" type="button" class="btn btn-danger" data-mdb-ripple-init>
                        Excluir
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<ng-template #modalDetalhe>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastro de Editora</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">

        <app-editorasdetails [Editora]="EditoraEdit" (retorno)="retornoDetalhe($event)">
            
        </app-editorasdetails>
    </div>
</ng-template>